@import url("https://fonts.googleapis.com/css2?family=Mohave&family=Roboto+Condensed:wght@700&display=swap");

/* Background */
body {
  background: linear-gradient(-90deg, #12232E, #203647,  #007CC7);
  background-size: 300% 300%;
  animation: gradient 20s ease infinite;
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

/* NavBar */
.logo {
  width: 50px;
}

/* Home Page */
p {
  margin: 0;
  display: inline-block;
}

.briefInfo {
  left: 50%;
  text-align: center;
  width: 100%;
  color: white;
}

.briefInfo h2 {
  font-size: 32px;
    color: #fff;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #fff,
        0 0 82px #fff,
        0 0 92px #fff,
        0 0 102px #fff,
        0 0 151px #fff;
}

.briefInfo h4 {
  font-size: 18px;
}

.chatroom {
  background-color: rgba(0,0,0, .7);
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 8px 0 rgba(0,0,0, 0.3);
  height: 575px;
  align-items: center;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 2%;
  left:50%;

}

.chatroom .messages {
  box-sizing: border-box;
  padding: 0 20px;
  margin: 10px 0 0;
  height: 510px;
  overflow-y: auto;
}

.chatroom .messages .message {
  background: rgba(255, 255, 255, 0.8);
  position: relative;
  padding: 5px 13px;
  font-size: 14px;
  border-radius: 10px;
  list-style: none;
  float: left;
  clear: both;
  margin: 10px 0;
  max-width: 600px;
}

.chatroom .messages .message img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  left: 0px;
}

.chatroom .messages .message.right {
  float: right;
  clear: both;
}

.chatroom .messages .message a {
  text-decoration: none;
  color:#3498DB;
}

.chatroom .input {
  height: 3px;
  padding: 30px;
  width: 100%;
  background: rgba(10, 208, 243, 0.836);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.chatroom .input input[type=text]{
  height: 35px;
  border-radius:10px;
  margin:10px 0;
  box-shadow:0 0 15px 4px rgba(0.54,0.07,0,0.06);
}

.chatroom .input button {
  background: transparent;
  border: 1px solid darkblue;
  height: 40px;
  width: 45px;
  font-size: 14px;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 100%;
}

ion-icon {
  font-size: 20px;
}

.chatroom .input button:hover {
  background: darkblue;
  color: #FFF;
  clear: both;
  margin: 10px 0;
  max-width: 600px;
}

.githubLogo{
  margin: auto;
  width: 50%;
}

.githubLogo button{
  background: transparent;
  border: none;
  height: 40px;
  width: 43px;
  font-size:39px;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 50%;
  align-items:center;
  position: absolute;
  top: 100%;
  left: 49%;
}
.githubLogo button:hover{
  background: white;
}


/* About Us Page */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;             
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
  color: black;
  background-color: white;
  display: flex;
  border-radius: 3px;
}

.about-section {
  padding: 50px;
  text-align: center;
  color: white;
}

.container {
  position: relative;
  padding-left: 2%;

}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: rgb(77, 72, 72);
}


@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.profile-picture {
  width: 250px;
  height: 250px;
  object-fit: cover;
  object-position: center;
}

h2.our-team {
  text-align: center;
}
